$primary-background: #282c34;
$primary-background-accent: #20232a;
$secondary-background: #ffffff;
$secondary-background-accent: rgb(236, 236, 236);

$primary-text: #000000;
$primary-text-accent: rgb(109, 109, 109);
$primary-text-highlight: #61dafb;

$secondary-text: #ffffff;

$card-shadow: #aaaaaa;
